<div class="container">
  <h3>HISTORY OF RESERVATION</h3>
  <table class="table table-striped">
    <thead>
      <th>START TIME</th>
      <th>DURATION</th>
      <!--ZA DOKTORA MORA DODATI NAZIV PACIJENTA-->
      <th>DOCTOR NAME</th>
      <th>DOCTOR SURNAME</th>
    </thead>
    <tr *ngFor="let r of reviews">
      <td> {{r.startTime | date: 'dd-MM-yyyy hh:mm'}} </td>
      <td> {{r.duration}} </td>
      <td> {{r.doctorName}} </td>
      <td> {{r.doctorSurname}} </td>
    </tr>
  </table>
</div>