<mat-grid-list cols="3">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <div class="container">
      <form novalidate #form="ngForm" (submit)="onSubmit(form)">
        <div class="form-row">
          <!--USERNAME-->
          <div class="form-group col-md-3"><strong class="form-control font-weight-bold">Username:</strong></div>
          <div class="col-md-5">
            <input type="text" class="form-control" name="username" [(ngModel)]="username" required/>
          </div>
        </div>
        <div class="form-row">
          <!--PASSWORD-->
          <div class="form-group col-md-3"><strong class="form-control font-weight-bold">Password:</strong></div>
          <div class="col-md-5">
            <input type="password" class="form-control" name="password" [(ngModel)]="password" required/>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-8">
            <button class="btn btn-info btn-block" type="submit" [disabled]="form.invalid">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>
